<div class="mediaflow-app" ng-controller="MediaFlowCtrl">
    <div ng-hide="connection" class="error" class="ng-cloak">
        Failed to connect to Mediaflow using current settings
    </div>
    <div ng-show="connection" ng-controller="MediaFlowFieldCtrl">
        <div class="mediaflow-preview clearafter" ng-show="selected.id">
            <div class="thumb">
                <img ng-src="[[selected.thumb]]">
            </div>
                <table class="mediaflow-meta">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>[[selected.name]]</td>
                        </tr>
                        <tr>
                            <th>Width</th>
                            <td>[[selected.file.width]]</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>[[selected.file.height]]</td>
                        </tr>
                        <tr ng-show="selected.uploaded">
                            <th>Uploaded</th>
                            <td>[[selected.uploaded|date:'short']]</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>[[selected.file.size|sizeConverter]]</td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <button
            type="button"
            class="btn dashed"
            ng-show="!showMedia"
            ng-click="showMedia = true">Browse</button>
        <button
            type="button"
            class="btn danger"
            ng-show="selected.id"
            ng-click="selected = emptyDefaults">Remove</button>

        <div ng-show="showMedia" class="mediaflow-fold">
            <div class="clearafter">
                <div class="texticon search icon">
                    <input class="text nicetext"
                        show-focus="showMedia"
                        type="search"
                        autocomplete="off"
                        ng-model="searchText"
                        placeholder="Search">
                    <input type="file" multiple ng-file-select="onFileSelect($files)">
                    <button data-icon="↑" type="button"
                        ng-click="triggerFileSelect($event)"
                        class="btn upload-button">
                        Upload
                    </button>
                    <div class="mediaflow-spinner" ng-class="{hidden: !spin}">Loading ...</div>
                    <a class="close" ng-click="showMedia = false">Close</a>
                </div>
            </div>

            <div class="thumbs clearafter">
                <ul>
                    <li ng-repeat="medium in media">
                        <img ng-show="medium.isImage"
                            ng-src="[[medium.thumb]]"
                            ng-click="select(medium)"
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div ng-init="selected={{value|json_encode()}}"></div>
        <input type="hidden" value="[[selected|json]]" name="{{name}}" />
    </div>
</div>
{% includeJsResource "mediaflow/angular.min.js" %}
{% includeJsResource "mediaflow/angularjs-file-upload.js" %}
{% includeJsResource "mediaflow/mediaflow-ng.js" %}
{% includeJsResource "mediaflow/bootstrap.js" %}
{% includeCssResource "mediaflow/style.css" %}
{% if inMatrix %}
<script>
    mediaflowBootstrap();
</script>
{% endif %}
